input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"], input:not([type]) {
	height: 40px;
}

.image-header {
	background-image: url("../img/software-developer.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 400px;
	margin-bottom: 30px;
}

.text-header {
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	font-weight: bold;
}

.top-nav {
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.parallax {
  /* The image used */
  background-image: url("../img/software-developer.jpg");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.text-parallax {
	text-align: center;
	color: #ffffff;
	padding-top: 150px;
}

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #d33c43;
	color: #ffffff;
	text-align: center;
}

.contact-col {
	text-align: center;
}

svg {
	font-size: 25px !important;
	color: #d33c43;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
}

.footer-icon {
	color: #ffffff;
}